
.vs/PhotoViewer/v16/Server/sqlite3/db.lock
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide-shm
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide-wal
PhotoViewer/obj/x86/Debug/App.g.cs
PhotoViewer/obj/x86/Debug/App.g.i.cs
PhotoViewer/obj/x86/Debug/MainWindow.baml
PhotoViewer/obj/x86/Debug/MainWindow.g.cs
PhotoViewer/obj/x86/Debug/MainWindow.g.i.cs
PhotoViewer/obj/x86/Debug/PhotoViewer.csprojAssemblyReference.cache
PhotoViewer/obj/x86/Debug/PhotoViewer_MarkupCompile.cache
.vs/PhotoViewer/v16/.suo
PhotoViewer/bin/x64/Debug/CommonServiceLocator.dll
PhotoViewer/bin/x64/Debug/PhotoViewer.exe
PhotoViewer/bin/x64/Debug/PhotoViewer.exe.config
PhotoViewer/bin/x64/Debug/PhotoViewer.pdb
PhotoViewer/bin/x64/Debug/Prism.dll
PhotoViewer/bin/x64/Debug/Prism.pdb
PhotoViewer/bin/x64/Debug/Prism.Wpf.dll
PhotoViewer/bin/x64/Debug/Prism.Wpf.pdb
PhotoViewer/bin/x64/Debug/Prism.Wpf.xml
PhotoViewer/bin/x64/Debug/Prism.xml
PhotoViewer/bin/x64/Debug/System.ValueTuple.dll
PhotoViewer/bin/x64/Debug/System.ValueTuple.xml
PhotoViewer/bin/x64/Debug/System.Windows.Interactivity.dll
PhotoViewer/obj/x64/Debug/App.g.cs
PhotoViewer/obj/x64/Debug/App.g.i.cs
PhotoViewer/obj/x64/Debug/MainWindow.baml
PhotoViewer/obj/x64/Debug/MainWindow.g.cs
PhotoViewer/obj/x64/Debug/MainWindow.g.i.cs
PhotoViewer/obj/x64/Debug/PhotoViewer.csproj.CopyComplete
PhotoViewer/obj/x64/Debug/PhotoViewer.csproj.FileListAbsolute.txt
PhotoViewer/obj/x64/Debug/PhotoViewer.csproj.GenerateResource.cache
PhotoViewer/obj/x64/Debug/PhotoViewer.exe
PhotoViewer/obj/x64/Debug/PhotoViewer.g.resources
PhotoViewer/obj/x64/Debug/PhotoViewer.pdb
PhotoViewer/obj/x64/Debug/PhotoViewer.Properties.Resources.resources
PhotoViewer/obj/x64/Debug/PhotoViewer_MarkupCompile.cache
PhotoViewer/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
