
.vs/PhotoViewer/v16/Server/sqlite3/db.lock
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide-shm
.vs/PhotoViewer/v16/Server/sqlite3/storage.ide-wal
PhotoViewer/obj/x86/Debug/App.g.cs
PhotoViewer/obj/x86/Debug/App.g.i.cs
PhotoViewer/obj/x86/Debug/MainWindow.baml
PhotoViewer/obj/x86/Debug/MainWindow.g.cs
PhotoViewer/obj/x86/Debug/MainWindow.g.i.cs
PhotoViewer/obj/x86/Debug/PhotoViewer.csprojAssemblyReference.cache
PhotoViewer/obj/x86/Debug/PhotoViewer_MarkupCompile.cache
